<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="罷米花心理測驗：準備好了嗎？跟風湊熱鬧，看看你是哪種罷米花！">
	<meta property="og:locale" content="zh_TW">
	<meta property="og:type" content="website">
	<meta property="og:title" content="【立即測驗】你是哪種罷米花？!">
	<meta property="og:description" content="快來跟風湊熱鬧，罷免還剩幾天？你身邊都是怎樣的罷米花？">
	<meta property="og:image" content="{{.BaseURL}}/assets/images/og.png?v1.0">
	<meta property="og:url" content="{{.BaseURL}}">
	<title>罷米花心理測驗 - 你是哪種罷米花？</title>
	<link rel="icon" href="{{.BaseURL}}/assets/images/favicon.png" type="image/png">
	<link rel="stylesheet" href="{{.BaseURL}}/assets/css/style.css?v1.0">
</head>
<body>
	<main class="container">
		<section class="main-content position-ab">
			<img src="{{.BaseURL}}/assets/images/cloud-00.png" alts="雲朵" class="cloud" style="animation-delay:0s; animation-duration:8s; left:-10%; top:-8%;">
			<header class="main-header">
				<div class="header-text">
					<p>✦跟風湊熱鬧</p>
					<h1>爆米花準備好了，<br>罷免演到哪？</h1>
				</div>
			</header>
			<img src="{{.BaseURL}}/assets/images/cloud-01.png" class="cloud" style="animation-delay:1s; animation-duration:20s; width:36%; right:5%; bottom:35%;">
			<img src="{{.BaseURL}}/assets/images/cloud-02.png" class="cloud" style="animation-delay:0.5s; animation-duration:9s; width:80%; left:20%; bottom:-12%;">
			<img src="{{.BaseURL}}/assets/images/cloud-03.png" class="cloud" style="animation-delay:1.5s; animation-duration:10s; width:90%; right:30%; bottom:-10%;">
			<img src="{{.BaseURL}}/assets/images/cloud-04.png" class="cloud" style="animation-delay:2s; animation-duration:7.5s; width:100%; right:2%; bottom:-10%;">
			<div class="comment-container">
				<div class="comment" style="width:80%; top:-10%; left:-5%; transform:rotate(-5deg);">我有跟罷免<br>但原來還沒結束喔？！</div>
				<div class="comment" style="width:80%; top:26%; left:-5%; transform:rotate(4deg);">有想過連署<br>但等之後有空再說吧</div>
				<div class="comment" style="width:35%; top:50%; left:95%; transform:rotate(-2deg);">卡一個</div>
				<div class="comment" style="width:70%; top:55%; left:-5%; transform:rotate(-2deg);">蛤 原來我家選區立委<br>還在被罷免</div>
				<div class="comment" style="width:60%; top:85%; left:-5%; transform:rotate(10deg);">罷免什麼時候才結束啦 有夠鬧</div>
			</div>
			<img src="{{.BaseURL}}/assets/images/cloud-05.png" alt="雲朵" class="cloud" style="animation-delay:0.8s; animation-duration:15s; width:50%; right:-5%; bottom:2%;">
			<img src="{{.BaseURL}}/assets/images/cloud-06.png" alt="雲朵" class="cloud" style="animation-delay:2s; animation-duration:9.5s; width:90%; left:20%; bottom:-8%;">
		</section>
		<a href="{{.BaseURL}}/questions">
			<button type="button" class="button primary">
				<svg class="button-icon icon-primary" width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path d="M8 5v14l11-7z" />
				</svg>
				<span>測試你是哪種罷米花？</span>
			</button>
		</a>
	</main>
</body>
</html>
